{% extends 'base.html' %}
{% load static %}

{% block content %}


<style>
  blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box{
    
    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    background-color: #4ADFCC;
    margin-top: 25px;
    color:white;
    width: 325px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    
}

.quotation-mark{
    
    margin-top: -10px;
    font-weight: bold;
    font-size:100px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;
    
}

.quote-text{
    
    font-size: 19px;
    margin-top: -65px;
}
</style>

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<div class="container">

    <a class="btn btn-block btn-outline-dark mb-5" href="{% url 'addSuccessStories' %}">+Add Success Stories</a>
  
    
    {% if messages %}
      {% for message in messages %}
        <p class="text-center alert alert-success">{{message}}</p>
      {% endfor %}
    {% endif %}
      
    <div class="card">
      {% if flag %}
      <h1 class="card-header">{{post.title}} 
      <span style="font-size: small;">{{post.datePosted}}</span> <span  style="float: right;"> 
        <a href="{% url 'updateSuccessStories' post.id %}" class="btn btn-outline-success  btn-sm">Update</a>
        <a href="{% url 'deleteSuccessStories' post.id %}" class="btn btn-outline-danger btn-sm">Delete</a></span></h1>

      {% else %}
      
      <h1 class="card-header">{{post.title}} by  <a href="{% url 'userView' post.author.username%}"> {{post.author|lower|capfirst}} </a>  <span  style="margin-top:20px;float: right;font-size:small">{{post.datePosted}}</span></h1>

      {% endif %}  

        <div class="card-body  " >
                   <div class="row">
          <div class="col-md-6">
            <blockquote  style="background-color:rgb(238, 238, 238);padding-left: 10px;padding-right: 10px;padding-bottom: 10px;padding-top: 10px; border-radius:5px">
              <p class="quotation-mark text-dark">
                “
              </p>
              <p class="quote-text text-dark">
                {{post.qoute}}
              </p>
              <hr class="text-dark">
             
            </blockquote>
            <h2>Introduction</h2>
          <p class="card-text" >{{post.intro|slice:":640"}}</div>
          <div class="col-md-6">
          
         {% if post.image  %}

         <a href="{{post.image.url}}" target="_target">
         <img src="{{post.image.url}}" height="500" width="500" style="float:right" class="img-fluid">
        </a>

        {% else %}
         {% endif %}

      </div style=" margin-left:13px;">  
      <div style=" margin-left:13px;">
        <h2 >Description</h2>
        <p >{{post.intro|slice:"640:"}}</p>
        </div>

        <div >
          <div style=" margin-left:13px; ">
            <p class="card-text" >{{post.description|safe}}
        </div>
        </div>

        </div>
        
        <h3 class="text-center mt-5 border-top pt-3 link"> <i>Author </i><a href="{% url 'userView' post.author.username%}"> @{{post.author|lower|capfirst}} </a></h3>
     
    </div>
                  
        </div>
      
   
        
      </div>

      


      
    </div>  

    <div class="container">
      <div class="row bootstrap snippets   mt-5">
        <div class="col-md-12 col-md-offset-2  col-sm-12">
            <div class="comment-wrapper">
                <div class="panel-heading rounded-top mb-3 bg-dark text-light mt-2 p-3">
                    Comment Panel
                </div>
                
                <form action="">
                    <textarea id='commentSuccessStories' class="form-control" placeholder="Write a Comment..." rows="3"></textarea>
                    <br>
                    <button type="submit" id='AddCommentSuccessStories' class="btn ml-2 btn-dark pull-right">Post Comment</button>
                </form> 
                <div class="panel panel-info">
                    
                    <div class="" >
                       
                        <div class="clearfix"></div>
                        <hr>
                        <h2 >Comments(<span id='commentsCountSuccessStories'>{{comments.count}}</span>)</h2>
                        <ul class="media-list mt-5 "  id='demoSuccessStories'>
                            
                            {% if comments %}
                            {% for  comment in comments  %}
                            <li class="media mt-2 "  id='commentItem'>
                                <a href="#" class="">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" width="100" height="100" class="rounded-circle">
                                </a>
                                <div class="media-body ml-5 card p-3">
                                    <span>
                                  <strong class="text-success">@{{comment.user.username}}</strong>
                                  {% if comment.user == user %}
                                   <a class="btn btn-outline-danger btn-sm float-right ml-2" href="{% url 'deleteCommentsSuccessStories' comment.id post.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>

                                      
                                  {% endif %}
                                      
                                        <small class="text-muted  mb-2 float-right ">{{comment.date|timesince}} ago</small>
                                        <input type="hidden" class="commentID"  value="{{comment.id}}">
                                    </span>
                                    <p class="">
                                        {{comment.content}}
                                     </p>
                                    <!-- <div class="row" >
                                      <div class="col-md-10">  <input type="text" class="form-control"> </div>
                                      <div class="col-md-2"><button class="btn btn-sm btn-success">update</button></div>
                                    </div> -->
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <h5 id='NoneCommentSuccessStories' class="text-dark">No comments to show</h5>     
                            {% endif %}
                                
                        <hr>
                           
                            
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    </div>
    


  
    
{% endblock content %}