{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="container">
      <div class="container">

        
        {% if userUserDegreeCFlage %}
        <div class="container">



          {% for message in messages %}
          <p class="text-center alert alert-info">{{message}}</p>

          {% endfor %}
          <a class="btn btn-block btn-outline-dark mb-5" href="{% url 'addTechTrend' %}">+Add Tech Trend</a>

          
          {% if TechTrendPostCountFlag %}
          {% for post in posts %}
          <div class="col-md-10 offset-md-1">
       
            <div class="card mb-5">
              <div class="card-header">
                <a href="{% url 'userView' post.author.username%}"> @{{post.author}} </a>
                <div class="float-right" style="font-size:small">
                  <span>Date Posted:</span> <span style="color:rgb(156, 156, 156);">{{post.datePosted}}</span>
               </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{post.title}} </h5>
                <p class="card-text">
                    {{post.intro|slice:":400"}}
                </p>
                [<a href="{% url 'TechTrendDisplayDetail' post.id %}" class="link"> Read Full Post   </a>]
              </div>
            </div>
  
          </div>
          {% endfor %}
          
          {% else %}
           <p class="alert alert-info ml-5 mr-5 text-center">No rechords to show</p>

          {% endif %}
            
      

        </div>
        {% else %}
        <p class="alert alert-info ml-5 mr-5 text-center">Complete Your Profile to use this Module <a href="{% url 'dashboard' %}">Click Here</a> </p>
        {% endif %}
          
      
      </div>
    </div>
    <div class="pagination d-flex justify-content-center mt-5">
        
      {% if   posts.has_previous %}
  
          <a style="text-decoration:none;" class="mr-3  btn btn-outline-info btn-sm" href="?page={{ posts.previous_page_number }}"> << </a>
          {% endif %}
  
          {% for num in posts.paginator.page_range %}
        
          {% if posts.number != num %}
  
                <a  href="?page={{ num }}"  class="mr-3  btn btn-outline-info btn-sm">  {{ num }}</a>
  
  
            {% elif num  > posts.number|add:'3' and num < posts.number|add:'3' %}
            <a href="?page=">{{num}}</a> 
          {% endif %}
              
        {% endfor %}
        {% if  posts.has_next  %}
        <a style="text-decoration:none;" class="mr-3  btn btn-outline-info btn-sm" href="?page={{ posts.next_page_number }}">>></a>
  
    {% endif %}
          
      
  
  </div>
  </div>
{% endblock content %}